:root {
  --grey: #e0e1dd;
  --dark-blue: #0d1b2a;
  --blue: #1b263b;
  --light-blue: #778da9;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--grey);
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100dvh;
  background: rgb(0,4,25);
background: -moz-linear-gradient(180deg, rgba(0,4,25,1) 0%, rgba(0,38,125,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(0,4,25,1) 0%, rgba(0,38,125,1) 100%);
background: linear-gradient(180deg, rgba(0,4,25,1) 0%, rgba(0,38,125,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000419",endColorstr="#00267d",GradientType=1);
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
}


img {
  max-width: 100%;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  width: 90%;
}

.btn {
  background: var(--blue);
  outline: none;
  border: solid var(--light-blue) 1px;
  padding: 0.5rem 2rem;
  border-radius: 6px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 4px;
}

.btn:hover {
  opacity: 0.6;
}


.header {
  text-align: center;
  padding-top: 6rem;
}

.header h1 {
  font-size: 3rem;
}

.header-info {
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.header-info p:last-child {
  font-size: 1.2rem;
  opacity: 0.8;
}

.header-buttons {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 4rem 0;
}

.projects-title{
  font-size: 2.1rem;
  text-align: center;
  font-weight: 300;
  letter-spacing: 3px;
  margin-bottom: 2rem ;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 1rem 0;
}

.project {
  border-radius: 8px;
  background: var(--blue);
  padding: 1rem;
  box-shadow: 0 0 5px var(--light-blue);
}

.project-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}

.project-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}



.project-title {
  font-size: 1.8rem;
}

.project-image {
  width: 100%;
  height: 250px;
  border-radius: 8px;
}

.project-stacks {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.project-description {
  margin-top: 1rem ;
}

.project-stack {
  color: var(--light-blue);
  font-weight: 700;
}

.stack-icon {
  font-size: 2rem;
}


@media screen and (max-width:750px) {
  html {
    font-size: 11px;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .project-image {
    height: 200px;
  }

  .project-top {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
  }

  .project-description {
    text-align: center;
  }
  .project-stacks {
   justify-content: center;
  }
  .stack-icon {
    font-size: 1.6rem;
  }
}